extends layout
block append content
      .container-fluid
        .row
          .col-md-8
            .card
              .card-header.card-header-primary
                h4.card-title Catálogo de Opmon x Jira
                p.card-category Classificador de issues
              .card-body
                form
                  .row
                    .col-md-6
                      .form-group
                        label.bmd-label-floating Host
                        input.form-control(type='text')
                    .col-md-6
                      .form-group
                        label.bmd-label-floating Serviço
                        input.form-control(type='text')
                  .row
                    .col-md-6
                      .form-group
                        label(for='exampleFormControlSelect1') Componente
                        select#exampleFormControlSelect1.form-control
                          option CÉLULA - Integração e Finaceiro
                          option CÉLULA - RIDI
                          option CÉLULA - Planejamento
                          option CÉLULA - Fiscal
                          option GEO
                    .col-md-6
                      .form-group
                        label.bmd-label-floating Prioridade
                        select#exampleFormControlSelect1.form-control
                          option Blocante
                          option Alta
                          option Média
                          option Baixa
                          option Trivial
                  .row
                    .col-md-6
                      .form-group
                        label.bmd-label-floating Ambiente
                        select#exampleFormControlSelect1.form-control
                          option Blocante
                          option Alta
                          option Média
                          option Baixa
                          option Trivial
                    .col-md-6
                      .form-group
                        label.bmd-label-floating DataCenter
                        select#exampleFormControlSelect1.form-control
                          option BR DC Equinix RJ2
                          option BR DC Sercompe
                          option BR DC Equinix SP2
                          option CLOUD DC Amazon
                          option CLOUD DC Azure
                          option US DC Equinix
                          option US DC CenturyLink Savvis                          
                  .row
                    .col-md-12
                      .form-group
                        label.bmd-label-floating Link da Documentação
                        input.form-control(type='url')
                  .row
                  //-   .col-md-8
                  //-     .form-group
                  //-       label About Me
                  //-       .form-group
                  //-         label.bmd-label-floating  Lamborghini Mercy, Your chick she so thirsty, I&apos;m in that two seat Lambo.
                  //-         textarea.form-control(rows='5')
                  button.btn.btn-primary.btn-success.pull-right(type='submit') Enviar
                  .clearfix
          .col-md-4
            .card.card-profile
              .card-avatar
                a(href='#pablo')
                  img.img(src='../assets/img/faces/marc.jpg')
              .card-body
                h6.card-category.text-gray CEO / Co-Founder
                h4.card-title Alec Thompson
                p.card-description
                  | Don&apos;t be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens&rsquo; bed design but the back is...
                a.btn.btn-primary.btn-round(href='#pablo') Follow