link#bootstrap-css(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
link#my-login-css(href='/css/my-login.css' rel='stylesheet')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='js/core/jquery.min.js')
script(src='js/core/my-login.js')
// ---- Include the above in your HEAD tag --------
.container
  .row.text-center.mb-4
    .col-md-10
      .row.text-center.mb-4
        .row.text-center.mb-4
          .row.text-center.mb-4
  .row.text-center
    .col-md-6.offset-md-3
      .card
        .card-body
          .login-img
            img(src='images/logo.png')
          .login-title
            h4 Log In
          .login-form.mt-4
            form
              .form-row
                .form-group.col-md-12
                  input#username.form-control(name='Username' placeholder='Username' type='text')
                .form-group.col-md-12
                  input#password.form-control(type='password' placeholder='Password')
              .form-row
                .form-group
                  .form-check
                    input#updatecheck1.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='updatecheck1')
                      small
                        | By submitting this form you agree to our 
                        a(href='#') terms and conditions 
              .form-row
                button#btn-login-submit.btn.btn-danger.btn-block(type='button') Submit
          .logi-forgot.text-right.mt-2
            a(href='#') Reset Password 
