extends layout
block append content
      .container-fluid
        .card
          .card-header.card-header-primary
            h3.card-title Notifications
            p.card-category
              | Handcrafted by our friend
              a(target='_blank' href='https://github.com/mouse0270') Robert McIntosh
              | . Please checkout the
              a(href='http://bootstrap-notify.remabledesigns.com/' target='_blank') full documentation.
          .card-body
            .row
              .col-md-6
                h4.card-title Notifications Style
                .alert.alert-info
                  span This is a plain notification
                .alert.alert-info
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span This is a notification with close button.
                .alert.alert-info.alert-with-icon(data-notify='container')
                  i.material-icons(data-notify='icon') add_alert
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span(data-notify='message') This is a notification with close button and icon.
                .alert.alert-info.alert-with-icon(data-notify='container')
                  i.material-icons(data-notify='icon') add_alert
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span(data-notify='message')
                    | This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don&apos;t have to worry about the style.
              .col-md-6
                h4.card-title Notification states
                .alert.alert-info
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span
                    b  Info - 
                    |  This is a regular notification made with &quot;.alert-info&quot;
                .alert.alert-success
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span
                    b  Success - 
                    |  This is a regular notification made with &quot;.alert-success&quot;
                .alert.alert-warning
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span
                    b  Warning - 
                    |  This is a regular notification made with &quot;.alert-warning&quot;
                .alert.alert-danger
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span
                    b  Danger - 
                    |  This is a regular notification made with &quot;.alert-danger&quot;
                .alert.alert-primary
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    i.material-icons close
                  span
                    b  Primary - 
                    |  This is a regular notification made with &quot;.alert-primary&quot;
          .col-md-12
            .places-buttons
              .row
                .col-md-6.ml-auto.mr-auto.text-center
                  h4.card-title
                    | Notifications Places
                    p.category Click to view notifications
              .row
                .col-lg-8.col-md-10.ml-auto.mr-auto
                  .row
                    .col-md-4
                      button.btn.btn-primary.btn-block(onclick="demo.showNotification('top','left')") Top Left
                    .col-md-4
                      button.btn.btn-primary.btn-block(onclick="demo.showNotification('top','center')") Top Center
                    .col-md-4
                      button.btn.btn-primary.btn-block(onclick="demo.showNotification('top','right')") Top Right
              .row
                .col-lg-8.col-md-10.ml-auto.mr-auto
                  .row
                    .col-md-4
                      button.btn.btn-primary.btn-block(onclick="demo.showNotification('bottom','left')") Bottom Left
                    .col-md-4
                      button.btn.btn-primary.btn-block(onclick="demo.showNotification('bottom','center')") Bottom Center
                    .col-md-4
                      button.btn.btn-primary.btn-block(onclick="demo.showNotification('bottom','right')") Bottom Right