// CSS
link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
link#my-login-css(href='/css/my-login.css' rel='stylesheet')

.container
  .row.text-center.mb-4
    .col-md-10
      .row.text-center.mb-4
        .row.text-center.mb-4
          .row.text-center.mb-4
  .row.text-center
    .col-md-6.offset-md-3
      .card
        .card-body
          .login-img
            img(src='images/logo.png')
          .login-title
            h4 Terms and conditions
            .form-row
                .container
                    h3 Disclaimer
                    .panel.panel-default
                        .panel-body
                            |Voce declara estar ciente de que esta acessando um sistema
                            |computacional de propriedade da NeoGrid. Este sistema computacional,
                            |incluindo todos os equipamentos relacionados com redes e dispositivos
                            |de rede, incluindo acesso a Internet e transmissao de mensagens eletronicas,
                            |sao fornecidos somente para uso autorizado da NeoGrid.
                            |O uso nao autorizado ou indevido do sistema computacional de propriedade
                            |da NeoGrid pode sujeita-lo a sancoes civis ou criminais. Os sistemas
                            |computacionais da NeoGrid e toda a informacao, incluindo informacao pessoal,
                            |colocada ou transmitida atraves desse sistema podem ser monitorados para
                            |todos os efeitos legais e, tambem, para garantir que o uso esta autorizado,
                            |para operacao do sistema e para verificacao de seguranca.
                            |A informacao monitorada pode ser gravada e usada como prova de uso nao
                            |autorizado ou indevido. O uso deste sistema computacional constitui
                            |consentimento de monitoramento para estes fins.

// JS scripts
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')